body {
    font-family: Roboto;
    display:flex;
    flex-direction:column;
    margin:0px;
}

.Content-1,
.hcontents,
.Content-2 p,
.c3text {
    width:70%;
    margin:0px auto;
}


.Content-1,
.hcontents {
    display:flex;
    flex-direction: column;
    gap: 32px;
}

.Hero {
    background-color: #FFFACD;
    font-size: 18px;
    color:#4A3B32;
    gap: 64px;
    padding-bottom: 100px;
}

ul  {
    list-style-type: none;
    display:flex;
    gap:24px;
    margin:0px;
    padding:0px;
}

.htop {
    display:flex;
    justify-content: space-between;
    gap:32px;
    align-items: center;
}

.hbottom {
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
}

.hbottom img {
    height: auto;
    width: 400px;
    border-radius:12px;
}


h1 {
    font-size: 48px;
    color:#2D241E;
    font-weight:900px;
}

h2 {
    color:#4A3B32;
    font-size: 36px;
    font-weight: 900px;
}

.nooutline {
    background-color: #F57C00;
    color:#4A3B32;
    font-size: 18px;
    padding: 8px;
    border-radius: 12px;
}

.Content-1 {
    text-align: center;
    margin-bottom: 100px;
}

.boxes {
    display:flex;
    text-align: center;
    justify-content: space-evenly;
    gap: 32px;
    color:#4A3B32;
    display:flex;
}

.same {
    height: 150px;
    width: 150px;
    border: solid 5px #F57C00;
    border-radius: 12px;
}


.Content-2{
    background-color: #E6E6FA;
    padding: 100px;
}
.Content-2 p {
    color:#4A3B32;
    text-align: left;
    font-size: 36px;
    font-weight: 300px;
}

.Content-2 strong {
    color:#2D241E;
    font-size: 36px;
    float:right;
}

.Content-3{
    display:flex;
    justify-content: center;
    align-items: center;
    Padding:100px;
}

.c3text{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#F57C00;
    border-radius: 12px;
    color:#4A3B32;
    padding: 20px 80px;
}

.outline{
    color:#2D241E;
    background-color:#F57C00;
    padding:8px;
    border:solid 2px #2D241E;
    border-radius: 12px;
}

.Footer{
    color:#2D241E;
    background-color: #FFFACD;
    text-align: center;
    padding: 18px
}

