body {
    font-family: Roboto;
    display:flex;
    flex-direction:column;
    margin:0px;
}

.Content-1,
.hcontents,
.Content-2 p,
.c3text {
    width:70%;
    margin:0px auto;
}


.Content-1,
.hcontents {
    display:flex;
    flex-direction: column;
    gap: 32px;
}

.Hero {
    background-color: #1F2937;
    font-size: 18px;
    color:#E5E7EB;
    gap: 64px;
    padding-bottom: 100px;
}

ul  {
    list-style-type: none;
    display:flex;
    gap:24px;
    margin:0px;
    padding:0px;
}

.htop {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hbottom {
    display:flex;
    align-items: center;
    justify-content: center;
}

.hbottom img {
    height: auto;
    width: 450px;
}


h1 {
    font-size: 48px;
    color:#F9F8FA;
    font-weight:900px;
}

h2 {
    color:#1F2937;
    font-size: 36px;
    font-weight: 900px;
}

.nooutline {
    background-color: #3882F6;
    color:white;
    font-size: 18px;
    padding: 8px;
    border-radius: 12px;
}

.Content-1 {
    text-align: center;
    margin-bottom: 100px;
}

.boxes {
    display:flex;
}

.same {
    height: 150px;
    width: 150px;
    border: solid 5px #3882F6;
    border-radius: 12px;
}


.Content-2{
    background-color: #E5E7EB;
    padding: 100px;
}
.Content-2 p {
    text-align: left;
    font-size: 36px;
    font-weight: 300px;
}

.Content-2 strong {
    font-size: 36px;
    float:right;
}

.Content-3{
    display:flex;
    justify-content: center;
    align-items: center;
    Padding:100px;
}

.c3text{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3882F6;
    border-radius: 12px;
    color:#E5E7EB;
    padding: 20px 80px;
}

.outline{
    color:#F9F8FA;
    background-color:#3882F6;
    padding:8px;
    border:solid 2px #F9F8FA;
    border-radius: 12px;
}

